<!doctype html>
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>iPad Mini Apple 16 Gb WiFi Led 7.9 | Mercadito</title>
    <!-- inject:css -->
    <!-- endinject -->
    <meta itemprop="url" content="http://mercadito.com.ar/ipad-mini-apple-16gb-wifi-led-7-9">
    <meta itemprop="isRelatedTo" content="/iphone6swhite">
    <meta itemprop="isRelatedTo" content="/macbookair">
    <meta itemprop="isRelatedTo" content="/ipadprokeyboard">
    <meta itemprop="isRelatedTo" content="/imac">
    <meta itemprop="isRelatedTo" content="/appletv">
    <meta itemprop="isRelatedTo" content="/ipadmini64gb">

    <meta name="title" content="iPad Mini Apple 16 Gb WiFi Led 7.9 | Mercadito">
    <meta name="description" content="Product description">
  </head>
  <body>
    <!-- Title -->
    <header class="mesh-row">
      <h1 class="title mesh-col-12" itemprop="name">
        iPad Mini Apple 16 Gb WiFi Led 7.9"
      </h1>
    </header>

    <!-- Product details -->
    <main itemprop="offers" class="product" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="name" content="iPad Mini Apple 16 Gb WiFi Led 7.9">
      <section class="mesh-row">
        <!-- Main image -->
        <aside class="mesh-col-l-6 mesh-col-s-12" aria-hidden="true" role="presentation">
          <img class="main-image" src="images/main.jpg" itemprop="image" alt="Main image of the product">
        </aside>
        <!-- Price, buy form, related products -->
        <section class="mesh-col-l-6 mesh-col-s-12">
          <label class="price" aria-label="Price: 5000.99 USD">
            <meta itemprop="priceCurrency" content="USD">$&nbsp;
            <meta itemprop="price" content="5000.99">5.000<sup>99</sup>
          </label>
          <form class="buy" novalidate>
            <fieldset class="mesh-row">
              <label for="selectQuantity" class="mesh-col-l-3 mesh-col-s-3 mesh-col-xs-12">Quantity</label>
              <select id="selectQuantity" tabindex="0" required class="mesh-col-l-9 mesh-col-s-9 mesh-col-xs-12">
                <option disabled value="">Seleccione</option>
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <datalist itemprop="eligibleQuantity" itemscope itemtype="http://schema.org/QuantitativeValue">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <meta itemprop="minValue" content="1">
                <meta itemprop="maxValue" content="4">
                <meta itemprop="value" content="1">
                <meta itemprop="unitCode" content="C62">
              </datalist>
            </fieldset>
            <fieldset class="mesh-row">
              <label for="selectPayments" class="mesh-col-l-3 mesh-col-s-3 mesh-col-xs-12">Payments</label>
              <select id="selectPayments" tabindex="1" required class="mesh-col-l-9 mesh-col-s-9 mesh-col-xs-12">
                <option disabled value="">Seleccione</option>
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="6">6</option>
                <option selected value="12">12</option>
              </select>
              <meta itemprop="acceptedPaymentMethod" content="CreditCard">
            </fieldset>
            <button type="submit" class="ch-btn ch-btn-large" tabindex="2">Buy</button>
            <em class="footnote" role="note">Mercadito is not the owner of this product.</em>
          </form>
          <h2 class="nav-heading">More products like this</h2>
          <ul class="related-products" role="complementary">
            <li>
              <img alt="iPhone 6S White" src="images/related-1.jpg">
              <img alt="MacBook Air" src="images/related-2.jpg">
              <img alt="iPad Pro + Keyboard" src="images/related-3.jpg">
              <img alt="iMac" src="images/related-4.jpg">
              <img alt="Apple TV" src="images/related-5.jpg">
              <img alt="iPad Mini 64GB" src="images/related-6.jpg">
            </li>
          </ul>
        </section>
      </section>

      <!-- Tabs -->
      <div class="ch-tabs" role="tablist">
        <!-- Product description -->
        <input type="radio" name="tab" id="tab-pd">
        <div class="ch-tab" role="tab">
          <label for="tab-pd">Product description</label>
        </div>
        <div class="ch-tab-panel" role="tabpanel" itemprop="description">
          Product description
        </div>

        <!-- Q&A -->
        <input type="radio" name="tab" id="tab-q" checked>
        <div class="ch-tab" role="tab">
          <label for="tab-q">Questions</label>
        </div>
        <div class="ch-tab-panel" role="tabpanel">
          <div itemscope itemtype="http://schema.org/Question">
            <label class="buyer" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">Buyer</span>
            </label>
            <div class="ch-box-info" itemprop="text">
              Do you have this one in white?
            </div>
            <div itemprop="suggestedAnswer acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
              <label class="seller" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">Seller</span>
              </label>
              <div class="ch-box-ok" itemprop="text">
                No, I don't. I only have it in black.
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
