@import 'colours.scss';
@import 'utils.scss';

body {
  background: $whitesmoke;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $gentleblack;
  margin: 2em;
}

body > header {
  @include widthOrFull(70%);
  @include centered;
}

main { 
  margin-bottom: 1em; 
  
  &:after {
    clear: both;
    content: '.';
    visibility: hidden;
  }  
}

.title {
  font-size: 3em;
  @include line-height;
}

@import 'product.scss';